<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
<div class="dashboard-container">
    <h1>Dashboard</h1>
    <a th:href="@{/event/}">Manage Events</a>
   <!-- <a th:href="@{/image}">Upload Event Pictures</a> -->
    <!--<a th:href="@{/allImages}">View Event Pictures</a>-->
 <a th:href="@{/addlocation}">Add Event Location</a>
 <a th:href="@{/user/register}"> Sign Up</a>
</div>
</body>
</html>
