<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
    <div class="background-slideshow">
        <!-- Background images will be added via CSS -->
    </div>
    <div class="dashboard-container">
        <h1>Main page</h1>
        <div>
        <a th:href="@{/event/search}" class="button">Search event locations</a>
        </div><br>
        <div>
        <a th:href="@{/locations/add}" class="button">Add new event location</a>
        </div><br>
        <div>
        <a th:href="@{/locations/all}" class="button">See all event locations</a>
        </div><br>
        <div>
        <a th:href="@{/user/register}" class="button"> Sign Up</a>
        </div><br>
        <div>
            <a href="http://localhost:9090" class="button">Go to my bookings </a>
        </div>
    </div>
    <script src="/js/backgroundslideshow.js"></script>
</body>
</html>
