<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Location Details</title>
  <link rel="stylesheet" th:href="@{/css/pictures.css}" />
</head>
<body style="background-image: url('/images/II.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<div class="dashboard-container">
  <div>
    <button class="button" onclick="location.href='/'">Go to Main Page</button>
  </div>
  <br>
  <div th:if="${event != null}">
    <h2 th:text="'Location Details for: ' + ${event.name}"></h2>
    <table>
      <tr>
        <td valign="top">

          <p th:text="'Street:' + ${event.street}"></p>
          <p th:text="'Address: ' + ${event.country} +', '+ ${event.city}"></p>
          <p th:text="'Capacity: max ' + ${event.capacity} + ' people'"></p>
          <p th:text="'Price: $' + ${event.price}+'/event'"></p>
          <p th:text="'Location includes: ' + ${event.inclusion}"></p>
          <p th:text="'Location has: ' + ${event.feature}"></p>
          <p th:text="'Information: ' + ${event.comment}"></p>
        </td>
        <td>
          <div th:each="image : ${event.base64Images}" style="display: inline-block; margin: 10px;">
            <img th:src="'data:image/jpeg;base64,' + ${image}"
                 alt="Event Picture"
                 style="width: 300px; height: auto; border: 1px solid #ddd;" />
          </div>
        </td>
      </tr>
    </table>
  </div>
  <a class="button" th:href="@{'http://localhost:9090/api/bookings/all'}">Go back</a>

  <div th:if="${event == null}">
    <h2>No location details available.</h2>
  </div>

</div>
</body>
</html>
