<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>editSingleLocation</title>
  <link rel="stylesheet" th:href="@{/css/pictures.css}" />
</head>
<body>
  <label for="location"> Edit location  </label>
  <input type="text" id="location" th:value="${oldValue}" placeholder="Downtown.." th:field="${location.location}" >
  <label for="country"> Edit location  </label>
  <input type="text" id="country" th:value="${oldValue}" placeholder="USA,Germany.." th:field="${location.country}" >
  <label for="capacity"> Edit location  </label>
  <input type="text" id="capacity" th:value="${oldValue}" placeholder="Downtown.." th:field="${location.capacity}" >
  <label for="city"> Edit location  </label>
  <input type="text" id="city" th:value="${oldValue}" placeholder="Downtown.." th:field="${location.city}" >
  <label for="price"> Edit location  </label>
  <input type="text" id="price" th:value="${oldValue}" placeholder="Downtown.." th:field="${location.price}" >
  <label for="comment"> Edit location  </label>
  <input type="text" id="comment" th:value="${oldValue}" placeholder="Downtown.." th:field="${location.comment}" >


</body>
</html>