<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Search</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
<div class="dashboard-container">
    <h1>Welcome to Fanus EventBooking </h1>
    <div>
        <a th:href="@{/}" class="button"> Go to main page</a>
    </div>
    <br>
    <h3 style="background-color: white; display: inline;" >Enter the information to view available events</h3>
    <form method="post" th:action="@{/event/search}" th:object="${event}" onsubmit="return validateForm()">

        <label for="country">Country:</label>
        <input type="text" id="country" placeholder="like...Germany" th:field="*{country}">

        <label for="city">City:</label>
        <input type="text" id="city" placeholder="like...Dallas" th:field="*{city}">

        <label for="numberOfVisitors">Number of Visitors:</label>
        <input type="number" id="numberOfVisitors" placeholder="15,20,35..." th:field="*{numberOfVisitors}">

        <label for="budget">Budget:</label>
        <input type="number" id="budget" placeholder="4000..." th:field="*{budget}">

        <label for="name">Location name (if you have specific one and want to search by name):</label>
        <input type="text" id="name" placeholder="names like...Alster Lagune" th:field="*{name}">

        <label for="date">Choose event date:</label>
        <input type="date" id="date" th:field="*{date}">

        <button type="submit">Search</button>
        <div>
            <a href="/user/register">Sign Up</a>
        </div>
    </form>

</div>

<!-- Link to external JavaScript -->
<script src="/js/backgroundslideshow.js"></script>
<script src="/js/inputvalidate.js"></script>
</body>
</html>
