<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link rel="stylesheet" th:href="@{/css/pictures.css}" />
</head>
<body>
  <div class="dashboard-container">
    <div th:if="${events != null}">
               <h2>Submitted Events</h2>
               <ul>
                   <li th:each="event : ${events}">
                     <p th:text="'Country: ' + ${event.country}"></p>
                     <p th:text="'Location: ' + ${event.location}"></p>
                     <p th:text="'City: ' + ${event.city}"></p>
                     <p th:text="'Number of Visitors: ' + ${event.capacity}"></p>
                     <p th:text="'price: ' + ${event.price}"></p>
                     <p th:text="'information: ' + ${event.comment}"></p>
                     <p th:text="'includes: ' + ${event.inclusion}"></p>
                     <p th:text="'option: ' + ${event.feature}"></p>
                       <div class="slideshow-container" th:id="'slideshow-' + ${iterStat.index}">
                           <!-- Each image within its own event -->
                           <div class="slide" th:each="image, imgStat : ${event.base64Images}">
                               <img th:src="'data:image/jpeg;base64,' + ${image}" alt="Event Picture" class="slide-image"/>
                           </div>
                           <!-- Buttons for navigation -->
                           <button class="prev" th:onclick="'changeSlide(-1, ' + ${iterStat.index} + ')'">❮</button>
                           <button class="next" th:onclick="'changeSlide(1, ' + ${iterStat.index} + ')'">❯</button>
                       </div>
                   </li>
               </ul>
    </div>
  </div>
  <script src="/js/slideshow.js"></script>
</body>
</html>