<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link rel="stylesheet" th:href="@{/css/pictures.css}" />
</head>
<body>
<div class="dashboard-container">
    <div>
        <a th:href="@{/}" class="button"> Go to main page</a>
    </div>
    <div th:if="${events != null}">
        <h2>Submitted Events</h2>
        <ul>
            <li th:each="event : ${events}">
                <a th:href="@{locations/update/id(id=${event.id})}" class="button"> Update location</a>
                <p th:text="'Country: ' + ${event.country}"></p>
                <p th:text="'Location: ' + ${event.location}"></p>
                <p th:text="'City: ' + ${event.city}"></p>
                <p th:text="'Number of Visitors: ' + ${event.capacity}"></p>
                <p th:text="'Price: ' + ${event.price}"></p>
                <p th:text="'Information: ' + ${event.comment}"></p>
                <p th:text="'Includes: ' + ${event.inclusion}"></p>
                <p th:text="'Option: ' + ${event.feature}"></p>

                <div>
                    <h4>Pictures:</h4>
                    <div th:each="image : ${event.base64Images}" style="display: inline-block; margin: 10px;">
                        <img th:src="'data:image/jpeg;base64,' + ${image}"
                             alt="Event Picture"
                             style="width: 300px; height: auto; border: 1px solid #ddd;" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
