<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
  <div class="dashboard-container">
    <div th:if="${events != null}">
               <h2>Submitted Events</h2>
               <ul>
                   <li th:each="event : ${events}">
                     <p th:text="'Country: ' + ${event.country}"></p>
                     <p th:text="'Location: ' + ${event.location}"></p>
                     <p th:text="'City: ' + ${event.city}"></p>
                     <p th:text="'Number of Visitors: ' + ${event.capacity}"></p>
                     <p th:text="'price: ' + ${event.price}"></p>
                     <p th:text="'information: ' + ${event.comment}"></p>
                     <p th:text="'includes: ' + ${event.inclusion}"></p>
                     <p th:text="'option: ' + ${event.feature}"></p>
                       <div class="slideshow-container">
                           <div class="slide" th:each="event, iterStat : ${events}" th:if="${iterStat.index == 0}">
                               <img th:src="'data:image/jpeg;base64,' + ${event.base64Image}" alt="Event Picture" class="slide-image" />
                           </div>
                           <button class="prev" onclick="changeSlide(-1)">❮</button>
                           <button class="next" onclick="changeSlide(1)">❯</button>
                       </div>

                       <!-- Link to the external JavaScript file -->
                       <script src="/js/slideshow.js"></script>
                   </li>
               </ul>
    </div>
  </div>
</body>
</html>