<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <h1> Welcome user please login   </h1>
    <div>
    <form   method="post" th:action="@{/user/login/}" th:object="${user}" >
        <label> Firstname</label>
        <input type="text" id="firstname" th:field="*{firstName}">
        <label> Lastname</label>
        <input type="text" id="lastname" th:field="*{lastName}">
        <label> Email</label>
        <input type="text" id="email" th:field="*{email}">
        <label> Password</label>
        <input type="password" id="password" th:field="*{password}">

        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>