<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
    <div class="dashboard-container">
        <h1> Welcome! create an account here </h1>
        <div>
            <a th:href="@{/}" class="button"> Go to main page</a>
        </div>
        <div>
            <form   method="post" th:action="@{/user/register}" th:object="${user}" >
                <div>
                    <label> Firstname</label>
                    <input type="text" id="firstname" th:field="*{firstName}">
                </div>
                <div>
                    <label> Lastname</label>
                    <input type="text" id="lastname" th:field="*{lastName}">
                </div>
                <div>
                    <label> Email</label>
                    <input type="text" id="email" th:field="*{email}">
                </div>
                <div>
                    <label> Password</label>
                    <input type="password" id="password" th:field="*{password}">
                </div>
            <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>